* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
}

#shopping-cart {
	margin: 20px auto;
	border: 3px solid rgb(26, 26, 26);
	padding: 10px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 2%;
	gap: 1rem;
}

#shopping-cart img {
	display: flex;
	justify-content: center;
	align-items: center;
}

#shopping-cart input {
	border-radius: 5px;
	height: 40px;
	text-align: center;
	font-size: 1.1rem;
}

#shopping-cart button {
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: rgb(16, 90, 16);
	color: antiquewhite;
	padding: 10px 30px;
	font-size: 1.2rem;
}

#shopping-cart ul {
	list-style: none;
}
